# --- Python / Django ---
__pycache__/
*.py[cod]
*.so
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.tmp
*.swp
*.swo

# Virtualenv
env/
venv/
.venv/
ENV/
.env
*.env

# Base de datos local
db.sqlite3

# Ignorar todo media por defecto
media/*
!media/propiedades/imagenes_principal/
!media/propiedades/imagenes_principal/**
!media/propiedades/galeria/
!media/propiedades/galeria/**

# Static de compilación/colecta
staticfiles/
static_root/

# IDE / OS
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db

# Node / build
node_modules/
dist/
build/

# Tests y coverage
.coverage
.coverage.*
htmlcov/
*.cover
*.py,cover
.cache
.pytest_cache/
nosetests.xml
coverage.xml
test_output/

# Configuración local y secrets
secrets.json
config.json
*.pem
*.crt
*.key


PENDIENTES.txt